.back{
    background-color: aliceblue;
    color: black;
    font-weight: bold;
    font-size: 90%;
    position: fixed;
    width: 100%;
  left: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 30px;
}